source [find interface/cmsis-dap.cfg]   ;# or interface/jlink.cfg
transport select swd
source [find target/nrf52.cfg]
adapter speed 4000

init
reset halt
nrf5 mass_erase

# Flash your combined/bootloader hex (addresses come from the hex)
program /Users/steve/Dropbox/PC/Documents/S2J/nRF52Bootloader/_build/build-xiao_nrf52840_ble/xiao_nrf52840_ble_bootloader_s140_7.3.0.hex verify


# Optional but recommended: clear bootloader settings page to force a clean start
# (nRF52840 settings page is usually at 0x000FF000; adjust if your tree uses a different page)
flash fillb 0x000FF000 0xFF 0x1000

reset run
shutdown
